<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Sign In</div>
    </div>
    <div style="padding-top:30px" class="panel-body">
      <div class="form-group">
        <div class="col-sm-12 controls text-center">
          <a (click)="login()" id="btn-login-google" class="btn btn-default">
            <img width="30" src="assets/images/google-logo.png" /> Use My Google Account
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
