.row {
  margin-left: 20px;
  font-size: 14px;
}

.panel {
  width: 80%;
}

.badge:hover {
    background-color: orangered;
    cursor: pointer;
}

.list-group-item {
  font-size: 14px;
}

.list-options {
    vertical-align: middle;
    display: inline-block;
}

textarea{
  resize: none;
}
